* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    width: 90%;
    margin: 20px auto;
}

.gen-info-container {
    border: 1px solid red;
}

.gen-info-container input {
    display: block;
}