* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

.app {
  width: 85%;
  margin: 50px auto;
}

::placeholder {
  color: #000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:not([type='submit']) {
  width: 100%;
  font-size: 14px;
}

input:not([type='submit']):hover {
  background-color: #f2f2f2;
}

.gen-info-section {
  margin-top: 40px;
  margin: 40px 0 20px;
  padding-left: 15px;
}

.gen-info-section input {
  display: block;
  width: 100%;
  cursor: pointer;
  margin-bottom: 8px;
  border: none;
  outline: none;
  padding: 5px;
}

#userName-input {
  font-size: 38px;
  font-weight: 600;
}

#userName-input::placeholder {
  font-size: 38px;
}

#location-input,
#phoneNum-input,
#email-input {
  padding-left: 8px;
}

.section-heading {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 5px;
  margin-left: 20px;
}

.modal-btn-container {
  margin: 10px 0 20px 20px;
}

.open-modal-btn {
  display: inline-block;
  padding: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #3434ff;
  font-weight: 800;
  font-size: 14px;
}